################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Homework/FileContentIndex/3cdb739f-9f7c-4bb6-8c5a-ac2e6cff59df.vsidx
